.img-news {
    background: url(../../assets/images/about.jpg) center center no-repeat;
    width: 1320px;
    height: 473px;
    margin-top: 40px;
}

.text-news {
    line-height: 1.5;
    font-size: 18px;
    margin: 10px;
}