.login-container-admin {
    background-color: #f2f0f2;
    min-height: 100vh;

    .box-login-admin {
        margin-top: 100px;

        .content-admin {
            padding: 50px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgb(0 0 0/ 10%), 0 8px 16px rgb(0 0 0 / 10%);
            box-sizing: border-box;
        }
    }
}