.footer-container {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    width: 100%;
    background-color: #e5e5e5;
    border-top: 12px solid #187733;
    margin-top: 300px;
    padding-bottom: 25px;

    .box-footer {
        display: grid;
        column-gap: 50px;
        width: 200px;
        margin: 0 50px;


        a {
            float: left;
            color: #187733;
            padding: 5px;
            text-decoration: none;
            font-size: 15px;
        }

        a:hover {
            background-image: linear-gradient(transparent calc(100% - 1px), #187733 1px);
        }

        .icon-footer {
            .facebook {
                background-color: #395185;
            }

            .youtube {
                background-color: #ff0000;
            }

            .google {
                background-color: #FBAD50;
            }

            i {
                color: #fff;
                padding: 5px;
                font-size: 10px;
            }
        }
    }

}